# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.env
*.DS_Store

# Migrations
*/migrations/*

# Media
/media/

# VS Code
.vscode/

# Virtual environment
venv/
env/
.idea/
